
=clear()
	&:after
		content: ""
		display: block
		clear: both

=keyframes( $name )
	@-webkit-keyframes #{ $name }
		@content
	@-moz-keyframes #{ $name }
		@content
	@-ms-keyframes #{ $name }
		@content
	@keyframes #{ $name }
		@content

=animation( $props )
	animation: $props
	-webkit-animation: $props

=selection
	::selection
		@content
	::-moz-selection
		@content
